.divNumeros{
  background-color: #EB485F;
  color: white;
  font-family: "Roboto", sans-serif;
  height: 215px;
  display: grid;
  grid-template-columns: 20% 80%;
}
.divNumeros:nth-child(even){
  background-color: #ABB271;
}

.contenedor{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 767px){
  .contenedor{
    grid-template-columns: repeat(1, 4fr)
  }
}

.icono{
  display: grid;
  color: white;
  grid-template-rows: auto 30%;
  align-items: center;
  justify-items: center;
}

.textoYNumeros{
  text-align: center;
  display: grid;
  grid-template-rows: 25% 20% auto 15%;
  align-content: center;
  justify-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

p{
  font-size: 14px;
}

.fact-count {
  font-size: 32px;
  font-weight: 700;
}
